@charset "utf-8";
@font-face{
	font-family:'NanumBarunGothic';
	font-style:normal;
	font-weight:normal;
	src:url('../fonts/NanumBarunGothic');
	src:url('../fonts/NanumBarunGothic.eot');
	src:local('?'), url('../fonts/NanumBarunGothic.woff') format('woff'), url('../fonts/NanumBarunGothic.ttf') format('truetype');
}
@font-face{
	font-family:'NanumBarunGothicBold';
	font-style:normal;
	font-weight:normal;
	src:url('../fonts/NanumBarunGothicBold');
	src:url('../fonts/NanumBarunGothicBold.eot');
	src:local('?'), url('../fonts/NanumBarunGothicBold.woff') format('woff'), url('../fonts/NanumBarunGothicBold.ttf') format('truetype');
}
@font-face{
	font-family:'NanumBarunGothicLight';
	font-style:normal;
	font-weight:normal;
	src:url('../fonts/NanumBarunGothicLight');
	src:url('../fonts/NanumBarunGothicLight.eot');
	src:local('?'), url('../fonts/NanumBarunGothicLight.woff') format('woff'), url('../fonts/NanumBarunGothicLight.ttf') format('truetype');
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle; font-family:'NanumBarunGothic'; border-radius:0; }
textarea { font-family:'NanumBarunGothicLight'; border-radius:0; }
::-webkit-input-placeholder { color:#949494; }
::-moz-placeholder { color:#949494; }
:-ms-input-placeholder { color:#949494; }
:-moz-placeholder { color:#949494; }


input, textarea {
  -webkit-appearance: none;  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

select {
  -webkit-appearance: none;  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  background: url('../img/bg_select_btn.png') no-repeat 95% 50%;  /* 화살표 모양의 이미지 */ 
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand { 
  display: none;
}



html, body { height:100%; font-family:'NanumBarunGothic'; background-color:transparent; }


input[type=text], input[type=tel] { padding:4% 5%; width:89%; border:2px solid #d9e0e6; height:6.67%; font-size:14px; letter-spacing:-1px; color:#000000; font-family:'NanumBarunGothic';}
input[type=text]:focus, input[type=tel]:focus { border:2px solid #000000;  }
textarea { padding:4% 5%; width:89%; border:2px solid #d9e0e6; height:6.67%; font-size:32px; line-height:140%; overflow:auto; }
select { padding:4% 5%; border:2px solid #d9e0e6; height:6.67%; font-size:14px; letter-spacing:-1px; color:#000000; font-family:'NanumBarunGothic';}
option { font-size:14px; letter-spacing:-1px; color:#000000; font-family:'NanumBarunGothic';}

.image img { margin:0 auto; width:50%; }
p a .default { display:none; }
p a .on { display:none; }
p a .active { display:inline; }

.wrap { position:relative; width:100%; min-height:100%; text-align:center; }
.wrap.intro { background:url('../img/bg_popup_blue.png') no-repeat 0 0; background-size:100% 100%;  }
.wrap.afterlogin { background:url('../img/bg_popup_afterlogin.png') no-repeat 0 0; background-size:100% 100%; }
.wrap.fullscreen { background-color:#fff; }

.wrap img { width:100%; }
.wrap .btnclose { position:absolute; top:2.05992%; left:3.4375%; width:9.375%; z-index:1; }
.wrap.fullscreen .btnclose { position:absolute; top:2.05992%; left:3.611%; width:8.333%; z-index:1; }
.wrap .btnclose img { width:100%; }

.wrap header h2 { margin:0 auto; padding-top:19.53125%; padding-bottom:7.9588%; text-align:center; }
.wrap section { padding-bottom:5%; }
.wrap.intro header,
.wrap.intro section { padding-left:5%; padding-right:5%; }

.wrap section .agreement img { width:100%; opacity:0; }

.wrap section p.nopad { padding:0; }
.wrap section p.buttons { }
.wrap footer { background:#fff; width:100%; position:fixed; bottom:0; }
.wrap .inner { padding-left:8.21%; padding-right:8.21%; }
.wrap.fullscreen header,
.wrap.fullscreen section { padding-left:11.333%; padding-right:11.333%; }

.wrap.intro header h2 { padding-top:17%; padding-bottom:4%; }
.wrap.afterlogin header h2 { padding-top:19.53125%; padding-bottom:8.4375%; }
.wrap.afterlogin section p { margin:0 auto; text-align:center; padding-bottom:4.3%; }
.wrap.afterlogin section p.second { margin:0 auto; text-align:center; padding-top:4.0%; }
.wrap.afterlogin section p.guide { margin:0 auto; text-align:center; padding-top:6.0%; }

.wrap.review-form header h2 { padding-top:26.3889%; padding-bottom:8.333%; }
.wrap.review-form section p { padding-bottom:5.5556%; }
.wrap.review-form textarea { border:2px solid #d9e0e6; padding:4% 5%; width:89%; height:180px; font-size:14px; font-weight:normal; letter-spacing:-1px; color:#000000; line-height:1.7; font-family:'NanumBarunGothic'; }

.wrap.review-info header h2 { padding-top:26.3889%; padding-bottom:4.444%; }
.wrap.review-info section p { padding-bottom:8.7222%; }
.wrap.review-info section li { padding-bottom:2.5%; }
.wrap.review-info section .agreement { padding-top:7.05556%; padding-bottom:5.9444%; }
.wrap.review-info section .agreement { color:red; }
.wrap.review-info section .agreement a { display:inline-block; width:100%; background:url('../img/btn_review_info_agree.png') no-repeat 50% 50%; background-size:cover; }
.wrap.review-info section .agreement a.on { background:url('../img/btn_review_info_agree_on.png') no-repeat 50% 50%; background-size:cover; }
.wrap.review-info section .agreement a img { width:100%; opacity:0; }

.wrap.review-info h4 { text-align:left; font-size:20px; font-weight:normal; letter-spacing:-1px; color:#000000; padding-bottom:3.0556%; }
.wrap.review-info textarea { padding:0%; width:100%; height:185px; border:0; text-align:left; font-size:14px; font-weight:normal; letter-spacing:-1px; color:#000000; line-height:1.6; font-family:'NanumBarunGothicLight'; }






.wrap.review-complete header h2 { padding-top:26.3889%; padding-bottom:4.444%; }
.wrap.review-complete section p.text1 { padding-bottom:18%; }
.wrap.review-complete section p.text2 { margin-left:-2.083%; }
.wrap.review-complete section li { padding-bottom:2.5%; }
.wrap.review-complete section .agreement { padding-top:8.05556%; padding-bottom:6.9444%; }
.wrap.review-complete h4 { text-align:left; font-size:20px; font-weight:normal; letter-spacing:-1px; color:#000000; padding-bottom:3.0556%; }
.wrap.review-complete textarea { padding:0%; width:100%; height:230px; border:0; text-align:left; font-size:14px; font-weight:normal; letter-spacing:-1px; color:#000000; line-height:1.6; font-family:'NanumBarunGothicLight'; }

.wrap.supporters-agree header h2 { padding-top:26.3889%; padding-bottom:4.444%; }
.wrap.supporters-agree section p.subtitle { padding-bottom:2.778%; }
.wrap.supporters-agree section li { padding-bottom:2.5%; }
.wrap.supporters-agree section .agreement { padding-top:8.05556%; padding-bottom:2.778%; }
.wrap.supporters-agree section .agreement a { display:inline-block; width:100%;  }
.wrap.supporters-agree section .agreement a img { width:100%; opacity:0; }
.wrap.supporters-agree section .agreement.agreement1 a { background:url('../img/btn_supporters_agree1.png') no-repeat 50% 50%; background-size:cover; }
.wrap.supporters-agree section .agreement.agreement1 a.on { background:url('../img/btn_supporters_agree1_on.png') no-repeat 50% 50%; background-size:cover; }
.wrap.supporters-agree section .agreement.agreement2 a { background:url('../img/btn_supporters_agree2.png') no-repeat 50% 50%; background-size:cover; }
.wrap.supporters-agree section .agreement.agreement2 a.on { background:url('../img/btn_supporters_agree2_on.png') no-repeat 50% 50%; background-size:cover; }


.wrap.supporters-agree section .agreetext { padding-top:4.16667%; padding-bottom:11.111%; }
.wrap.supporters-agree textarea { padding:0%; width:100%; height:160px; border:0; text-align:left; font-size:14px; font-weight:normal; letter-spacing:-1px; color:#000000; line-height:1.6; font-family:'NanumBarunGothicLight'; }

.wrap.supporters-form header h2 { padding-top:26.3889%; padding-bottom:4.444%; }
.wrap.supporters-form section p { padding-bottom:9.7222%; }
.wrap.supporters-form section .supportersform { padding-top:5%; }
.wrap.supporters-form section li { text-align:left; padding-bottom:2.778%; position:relative; }
.wrap.supporters-form .select1 { width:53%; background: url('../img/bg_select_btn.png') no-repeat 95% 50%; background-size:10px 7px; text-decoration:none; display:inline-block; color:#888; padding:4% 5%; border:2px solid #d9e0e6; height:6.67%; font-size:14px; letter-spacing:-1px; font-family:'NanumBarunGothic'; position:relative; top:0; }
.wrap.supporters-form .select2 { width:22%; background: url('../img/bg_select_btn.png') no-repeat 95% 50%; background-size:10px 7px; text-decoration:none; display:inline-block; color:#888; padding:4% 5%; border:2px solid #d9e0e6; height:6.67%; font-size:14px; letter-spacing:-1px; font-family:'NanumBarunGothic'; position:relative; top:0; }
.wrap.supporters-form .input-group { position:relative; top:2px; display:none; }
.wrap.supporters-form .input-group input { width:53%; padding:3.5% 5%; }
.wrap.supporters-form .input-group .select-btn { position:absolute; top:50%; right:7%; margin-top:-7px; }
.wrap.supporters-form .input-group .select-btn img { width:10px; height:7px; }


.wrap.supporters-form section li.radioinput { font-size:14px; line-height:2; padding-top:2.222%; }
.wrap.supporters-form section li.radioinput1 {  border-bottom:2px dotted #dadada; }
.wrap.supporters-form section li.radioinput span { display:inline-block; width:47%; color:#333333; }
.wrap.supporters-form section li.radioinput input[type="radio"] { display:none; }
.wrap.supporters-form section li.radioinput label { display:inline-block; margin-left:5%; width:20%; color:#949494; text-align:right; font-family:'NanumBarunGothicLight'; background:url('../img/bg_radio.png') no-repeat 0 50%; background-size:40%; }
.wrap.supporters-form section li.radioinput input[type="radio"]:checked + label { background:url('../img/bg_radio_on.png') no-repeat 0 50%; background-size:40%;}
.wrap.supporters-form section .agreement { padding-top:8.05556%; padding-bottom:6.9444%; }

p.notice { position:absolute; bottom:15%; z-index:1; left:11.333%; right:11.333%; }

.layer {  position:absolute; top:0; left:0; bottom:0; right:0; z-index:10010; display:none; }
.dimmed { position:fixed; top:0; left:0; width:100%; height:100%; z-index:1; background:#000; opacity:0.5; }
.layer .system-alert { width:80%; border-radius:5px; position:absolute; top:32%; left:10%; z-index:2; display:none; }
.layer .system-alert img { width:100%; }
.layer .system-alert header { color:#003366; padding-top:60px; text-align:center; font-size:20px; }
.layer .system-alert section { color:#888; font-size:14px; padding:40px; text-align:center; line-height:1.4;}
.layer .system-alert footer { position:absolute; bottom:0; left:0; width:100%; z-index:1; }
.layer .system-alert footer img { width:100%; }
.layer .system-alert footer a { color:#003366; font-size:14px; text-decoration:none; font-weight:700; }

.layer .select-layer { width:90%; border-radius:5px; position:absolute; top:28%; left:5%; z-index:2; display:none; background:#FFF; text-align:center; }
.layer .select-layer .inner { margin:5% auto; width:85%; }
.layer .select-layer h5 { font-size:16px; font-family:'NanumBarunGothicLight'; line-height:2.5; border-bottom:1px solid #022f59; font-weight:normal; margin-bottom:5px; }
.layer .select-layer li { font-size:15px; font-family:'NanumBarunGothicLight'; line-height:2.8;  }
.layer .select-layer li a { display:block; width:100%; height:100%; text-decoration:none; color:#000000; }
.layer .select-layer li a:active { color:#3a72cf; font-weight:bold; }


.supporters_wrap { position:relative; width:100%; min-height:100%; background-color:#FFF; text-align:center; overflow:hidden; }
.supporters_wrap img { width:100%; }
.supporters_wrap p.text { width:69.44%; margin:0 auto; padding-top:35.234375%; padding-bottom:44.53125%; text-align:center; color:white;}
.supporters_wrap p.btns { position:absolute; bottom:0; left:0; width:100%; text-align:center; }
.supporters_wrap .btnclose { position:absolute; top:2.05992%; left:3.4375%; width:9.375%; z-index:1; }





